<div class='pt-40 text-center text-2xl'>
  <%= link_to t('platform.category.new.label'), new_admin_category_path %> | 
  <%= link_to t('platform.lesson_class.new.label'), new_admin_lesson_class_path %> | 
  <%= link_to t('platform.lesson.new.label'), new_admin_lesson_path %>
</div>

<%= render template: 'admin/lesson_classes/index' %>
<%= render template: 'admin/categories/index' %>
