<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          <%= t('platform.lesson.fields.id') %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= t('platform.lesson.fields.title') %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= t('platform.lesson.fields.description') %>
        </th>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <% lesson_classes.each do |lesson_class| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= lesson_class.id %>
          </td>
          <td class="px-6 py-4">
            <%= link_to lesson_class.title, lesson_class_path(lesson_class.id), class: 'hover:blue hover:underline' %>
          </td>
          <td class="px-6 py-4">
            <%= lesson_class.description %>
          </td>
          <td class="px-6 py-4">
            <%= link_to edit_admin_lesson_class_path(lesson_class), class: "text-indigo-600 hover:text-indigo-900" do %>
              <%= image_tag 'pen', alt: 'Pen Edit Icon', class: 'w-6' %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <%= link_to admin_lesson_class_path(lesson_class),
              class: "text-red-600 hover:text-red-900",
              data: {
                turbo_method: "delete",
                turbo_confirm: t('platform.object.delete')
              } do
            %>
              <%= image_tag 'trash', alt: 'Trash Delete Icon', class: 'w-6' %>
            <% end %>
          </td>
        </tr>

        <%= render template: 'admin/lessons/index', locals: { lesson_class: lesson_class } %>
      <% end %>
    </tbody>
  </table>
</div>
