<!DOCTYPE html>
<html>
  <head>
    <title>OpCodigoDeOuroPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-abstract-wallpaper bg-fixed bg-cover text-white'>
    <%= render partial: 'shared/main_content' %>
    <%= render partial: 'shared/alerts' %>
  </body>
</html>
